{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resumen de tu Orden</title>
</head>
<body>
    <h1>Resumen de tu Orden</h1>
    {% if orden %}
        <h2>Productos en tu orden:</h2>
        <p>{{ orden.detalle }}</p>
        <h3>Total: ${{ orden.precio_total }}</h3>
        <button onclick="location.href='{% url 'confirmar_orden' %}'">Confirmar Orden</button>

        <!-- Botón para seguir añadiendo productos -->
        <button onclick="location.href='{% url 'home' %}'">Seguir Añadiendo Productos</button>
    {% else %}
        <p>No tienes productos en tu orden.</p>
    {% endif %}
</body>
</html>
