{% extends "base.html" %}

{% block title %}Resumen de Orden{% endblock %}

{% block content %}
<h1>Resumen de tu Orden</h1>

{% if orden %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Productos en tu orden</h5>
            <ul class="list-group mb-3">
                {% for producto in orden.productos.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ producto.nombre }}
                        <span class="badge badge-primary badge-pill">${{ producto.precio }}</span>
                    </li>
                {% endfor %}
            </ul>
            <h5>Combos en tu orden</h5>
            <ul class="list-group mb-3">
                {% for combo in orden.combos.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ combo.nombre }}
                        <span class="badge badge-success badge-pill">${{ combo.precio_total }}</span>
                    </li>
                {% endfor %}
            </ul>
            <h3>Total: ${{ orden.precio_total }}</h3>
            <a href="{% url 'compra_exito' %}" class="btn btn-success">Confirmar Orden</a>
        </div>
    </div>
{% else %}
    <p>{{ mensaje }}</p>
{% endif %}
{% endblock %}

