{% extends "base.html" %}

{% block title %}Órdenes - Administrador{% endblock %}

{% block content %}
<h1>Administración de Órdenes</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Detalle</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for orden in ordenes %}
            <tr>
                <td>{{ orden.id }}</td>
                <td>{{ orden.usuario.username }}</td>
                <td>{{ orden.detalle }}</td>
                <td>${{ orden.precio_total }}</td>
                <td>{% if orden.completada %}Completada{% else %}Pendiente{% endif %}</td>
                <td>
                    {% if not orden.completada %}
                        <a href="{% url 'marcar_como_completada' orden.id %}" class="btn btn-sm btn-primary">Marcar como completada</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
